<html>
    <%- include('head') %>
    <body>
        <%- include('header')%>   
        <div class="container">
            <% if(success) { %>
                <div class='alert alert-success'>
                    <%= success %>
                </div>
            <% } %>
            <% if(error) { %>
                <div class='alert alert-danger'>
                    <%= error %>
                </div>
            <% } %>
            <%- body %>
        </div>
        <script src='/js/util.js'></script>
    </body>
</html>