<% posts.forEach(function(post, index) { %>
  <div class="cardwrap" wid="<%= post._id%>">
    <div class="screen_box">
      <% if (user && user.username == post.user) {%>
        <span class="glyphicon glyphicon-chevron-down arrow_down" data-toggle="dropdown"></span>
        <ul class="dropdown-menu">
          <li><a class="delete-link" wb-id="<%= post._id%>">删除此微博</a></li>
          <li><a href="/edit?id=<%= post._id%>">编辑此微博</a></li>
          <li><a href="">加标签</a></li>
        </ul>
      <% } %>
    </div>
    <div class="wb_info">
      <a href="/user/<%= post.user %>" class="title"><%= post.user %></a>
      <div class="time"><%= post.time %></div>
      <p class="content"><%= post.post %></p>
    </div>
    <div class="handle">
      <ul>
          <% if (user && user.username == post.user) {%>
            <li><span class=''><a href="#"> 阅读3</a></span></li>
          <% }else{ %> 
            <li><span><a class='glyphicon glyphicon-star-empty' href="#">收藏</a></span></li>
          <% } %>  
          <li><span><a class='glyphicon glyphicon-share' href="#">转发</a></span></li>
          <li><span><a class='glyphicon glyphicon-comment' href="#">评论</a></span></li>
          <% if (user && post.like_id) {%>
            <li><span><a data-likeable-id='<%= post._id%>' data-like-id='<%= post.like_id%>'class='liked glyphicon glyphicon-heart' href="#">点赞</a></span></li>
          <% }else if(user){ %>
            <li><span><a data-likeable-id='<%= post._id%>' class='not-liked glyphicon glyphicon-heart-empty' href="#">点赞</a></span></li>
          <% }else{ %>  
            <li><span><a data-likeable-id='<%= post._id%>' class='glyphicon glyphicon-heart-empty' href="/login">点赞</a></span></li>
          <% } %>  
      </ul>
    </div>
  </div>  
<%}) %>
  