<% posts.forEach(function(post, index) { %>
  <div class="cardwrap" wid="<%= post._id%>">
    <div class="screen_box">
      <% if (user && user.username == post.user) {%>
        <span class="glyphicon glyphicon-chevron-down arrow_down" data-toggle="dropdown"></span>
        <ul class="dropdown-menu">
          <li><a class="delete-link" wb-id="<%= post._id%>">删除此微博</a></li>
          <li><a href="/edit?id=<%= post._id%>">编辑此微博</a></li>
          <li><a href="">加标签</a></li>
        </ul>
      <% } %>
    </div>
    <div class="wb_info">
      <a href="/user/<%= post.user %>" class="title"><%= post.user %></a>
      <div class="time"><%= post.time %></div>
      <p class="content"><%= post.post %></p>
    </div>
    <div class="handle">
      <ul>
          <% if (user && user.username == post.user) {%>
            <li><a href="#"><span> 阅读3</span></a></li>
          <% } else if(user && post.collect_id){ %> 
            <li><a data-collectable-id='<%= post._id%>' data-collect-id='<%= post.collect_id%>' class='collected glyphicon glyphicon-star' href="#"><span>收藏</span></a></li>
          <% } else if (user) {%>  
            <li><a data-collectable-id='<%= post._id%>' class='not-collected glyphicon glyphicon-star-empty' href="#"><span>收藏</span></a></li>
          <% } else {%>
            <li><a class='glyphicon glyphicon-star-empty' href="/login"><span>收藏</span></a></li>
          <% } %>

          <li><a class='glyphicon glyphicon-share' href="#"><span>转发</span></a></li>
          <li><a class='glyphicon glyphicon-comment' href="#"><span>评论</span></a></li>
          <% if (user && post.like_id) {%>
            <li><a data-likeable-id='<%= post._id%>' data-like-id='<%= post.like_id%>' class='liked glyphicon glyphicon-heart' href="#"><span> <%= post.liked%></span></a></li>
          <% }else if(user){ %>
            <li>
              <a data-likeable-id='<%= post._id%>' class='not-liked glyphicon glyphicon-heart-empty' href="#">
                <% if(post.liked){%>
                  <span><%=post.liked%></span>
                <%} else{%>
                  <span>赞</span>
                <% } %>
              </a>
            </li>
          <% }else{ %>  
            <li>
              <a data-likeable-id='<%= post._id%>' class='glyphicon glyphicon-heart-empty' href="/login">
                <% if(post.liked){%>
                  <span><%= post.liked%></span>
                <%} else{%>
                  <span>赞</span>
                <% } %>
              </a>
            </li>
          <% } %>  
      </ul>
    </div>
  </div>  
<%}) %>
  